<div class="wrapper_auth">
  <a class="back-to-the-main" href="/">Вернуться на главную</a>

  <div class="white_center_block">

    <h2>{{ header }}</h2>
    <form>
      {{{ name }}}
      {{{ surname }}}
      {{{ login }}}
      {{{ email }}}
      {{{ phone }}}
      {{{ password }}}
      {{{ button }}}
    </form>

  </div>
</div>
